<a href="https://colab.research.google.com/github/premdub/Intro-to-R-/blob/main/intro_to_R_Chapter_1_2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
 install.packages('IRkernel')

In [ ]:
IRkernel::installspec()

In [ ]:
library(tidyverse)

In [4]:
x <- 12

In [5]:
# create vector of integers from 0 to 9
some_numbers <- c(0,1,2,3,4,5,6,7,8,9)

# alternatively 
some_numbers <- c(0:9)

In [ ]:
some_numbers

In [ ]:
mean(some_numbers)

In [8]:
library(tidyverse)

In [17]:
paygap <- read.csv('/content/data/paygap.csv', header = TRUE)

In [ ]:
head(paygap, n = 5)

In [ ]:
colnames(paygap)

In [ ]:
dim(paygap)

In [ ]:
class(paygap)

In [ ]:
class(paygap$DiffMeanHourlyPercent)

In [62]:
cardiacdata <- read.csv('/content/data/normtemp.csv', header = TRUE)

In [ ]:
# extract element in 1st row and 3th column
cardiacdata[1,3]

In [ ]:
# extract rows 5-7 from columns 1-3
cardiacdata[5:7,1:3]

In [65]:
# extract column 'bodytemp' and assign to new object 'temperatures'
temperatures <- cardiacdata$bodytemp

In [66]:
# select columns 'gender' and 'heartrate' and assign to new object 'heartrates'
heartrates <- select(cardiacdata, sex, heartrate)

In [67]:
## append variable names with their respective units
# rename 'bodytemp' to 'bodytemp_degF'
cardiacdata <- rename(cardiacdata, bodytemp_degF = bodytemp)

# rename 'heartrate' to 'heartrate_bpm'
cardiacdata <- rename(cardiacdata, heartrate_bpm = heartrate)

In [ ]:
head(cardiacdata)

In [69]:
# add new column with body temperature in degrees celsius
cardiacdata <- mutate(cardiacdata, bodytemp_degC = (bodytemp_degF - 32)*(5/9))

In [70]:
# change values in gender column to read "Female" and "Male" instead of 1 and 2
cardiacdata <- mutate(cardiacdata, sex = ifelse(sex == 1, 'Female', 
                                            ifelse(sex == 2, 'Male', NA)))

In [ ]:
head(cardiacdata)

In [47]:
# filter for data from female subjects only
cardiacdata_female <- filter(cardiacdata, sex == 'Female')

In [ ]:
f(x)
g(x)
h(x)

In [58]:
x %>% f() %>% g() %>% h()

ERROR: ignored

In [ ]:
cardiacdata <- cardiacdata %>%
  filter(sex == 'Female') %>%
  select(sex) %>%
  mutate(bodytemp_Kelvin = bodytemp_degC + 273)

In [73]:
cardiacdata_bysex <- cardiacdata %>%
  group_by(sex) %>%                                  # group by 'gender'
  summarize(avg_bodytemp_degF = mean(bodytemp_degF),    # aggregate using means
            avg_bodytemp_degC = mean(bodytemp_degC), 
            avg_heartrate_bpm = mean(heartrate_bpm))

In [ ]:
some_numbers <- c(4,5,6,7,NA,8)

mean(some_numbers)

In [ ]:
mean(some_numbers, na.rm = TRUE)

In [ ]:
ggplot(data = cardiacdata, mapping = aes(x = bodytemp_degC)) + 
  geom_histogram(bins = 20)

In [ ]:
ggplot(data = cardiacdata, mapping = aes(x = bodytemp_degC)) + 
  geom_histogram(bins = 20, aes(y = ..density..))

In [ ]:
ggplot(data = cardiacdata, mapping = aes(x = bodytemp_degC)) + 
  geom_histogram(bins = 20, aes(y = ..density..), fill = 'lightblue') +
  xlab('body temperature (celsius)') +
  ggtitle('distribution of body temperatures') +
  theme_light()

In [ ]:
ggplot(data = cardiacdata, mapping = aes(x = heartrate_bpm, y = bodytemp_degC)) + 
  geom_point() +
  theme_light()

In [ ]:
ggplot(data = cardiacdata, mapping = aes(x = heartrate_bpm, y = bodytemp_degC, color = sex)) + 
  geom_point() +
  theme_light()

In [ ]:
ggplot(data = cardiacdata, mapping = aes(x = gender, y = bodytemp_degC)) +
  geom_boxplot() +
  xlab('gender') +
  ylab('body temperature (celsius)') +
  theme_light()